.header {
  display: flex;
  height: 70px;
  padding: 1em 1em;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  color: #424242;
  text-decoration: none;
}

.logo__img {
  height: 32px;
}

.logo__title {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -1.2px;
}

.input {
  flex-basis: 90%;
  margin-left: 50px;
  padding-left: 1em;
  border: 1px solid lightgray;
  font-size: 16px;
  outline: none;
}

.button {
  width: 60px;
  border: 1px solid lightgray;
  background-color: ghostwhite;
  color: gray;
  font-size: 18px;
  cursor: pointer;
}
